@import "components/about/about";
@import "components/contact/contact";
@import "components/homepage/homepage";
@import "components/initial/initial";
@import "components/navigation/nav";
@import "components/profile/profile";
@import "components/projects/projects";

body {
  margin: 0;
  background-color: rgb(244, 244, 244);
}

html {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.home_page {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.clear_task_box {
  position: absolute;
  bottom: 0;
}

.background_white {
  background-color: white;
}

input[type="checkbox"] {
  display: none;
}

.friends_block {
  position: relative;
  height: 85%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.search_user_block {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.add_user {
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  @include standardTransition;
}

.user_search_button {
  position: relative;
  width: 60px;
  display: inline-block;
}

.search_image {
  position: relative;
  height: 35px;
  width: 35px;
}

.fixed_under {
  position: relative;
  width: 100%;
  margin-top: 40px;
  height: 95%;
}

@keyframes userNotFound {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 25px;
  }
}
