@import "utils";

.friend_context_menu {
  background-color: white;
  color: black;
  padding: 5px;
}

.friend_context_hover {
  padding: 4px;
  cursor: pointer;
  @include noselect;
}

.friend_context_hover:hover {
  background-color: pink;
}
