@import "../../utils";

.account_creation_block {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
  @include testing;
}

.account_creation {
  align-self: center;
  @include testing2;
}

.userform {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}

.user_input_fields {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 25px;
  font-size: 16px;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  @include page_fields;
  @include standardTransition;
}

.user_input_fields:focus {
  border-bottom: 1px solid pink;
  @include standardTransition;
}

.signup_field {
  text-align: center;
  display: block;
  font-size: 18px;
  @include page_fields;
}

.sign_in_button {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  @include standardTransition;
}

.sign_in_button:hover {
  background-color: pink;
  @include standardTransition;
}

.password_criteria {
  width: 225px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  color: #838383;
}

.password_hide_comp {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: none;
  background-color: white;
}

.password_hide_button {
  position: relative;
  height: 100%;
  width: 100%;
}

.password_component {
  position: relative;
  display: block;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.username_component {
  position: relative;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
