@import "../../utils.scss";

.profile_block {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.profile_project_listings {
  position: relative;
  display: inline-block;
  width: 70%;
  float: right;
  @include testing2;
}

.profile_settings {
  position: fixed;
  display: inline-block;
  width: 10%;
  @include testing2;
}

.profile_item {
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin-top: 25px;
}

.profile_sidebar_navlink {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

.profile_sidebar_navlink_active {
  color: pink;
}

.profile_contact {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.contact_header {
  position: relative;
  text-align: center;
}

.contact_fillin_div {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact_fillin {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 10px;
  font-size: 16px;
  line-height: 165%;
  @include standardFont;
  resize: none;
}

.contact_submit_button {
  position: relative;
  display: block;
}

.contact_subheader {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: pink;
}

.profile_settings_block {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile_settings_header {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile_setting_option {
  position: relative;
  width: 80%;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.setting_checkbox {
  position: relative;
}

.setting_spec {
  position: relative;
}

.save_settings_button {
  position: relative;
  display: block;
}

.center_join_project {
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}

.start_project_block {
  position: relative;
  height: 200px;
  @include testing;
}

.start_project_header {
  color: pink;
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}

.current_projects {
  position: relative;
  margin-top: 50px;
}

$buttonWidth: 125px;

.new_project_button {
  position: relative;
  margin-top: 50px;
  display: block;
  width: $buttonWidth;
  height: 40px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  @include noselect;
  @include standardFont;
  border: none;
  cursor: pointer;
  background-color: white;
}

.new_project_button:hover .swipe_right {
  width: $buttonWidth;
  @include slowTransition;
}

.swipe_right {
  position: absolute;
  width: 0;
  height: 100%;
  @include slowTransition;
  background-color: black;
  overflow: hidden;
}

.hide_on_swipe {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
  width: $buttonWidth;
  color: black;
  white-space: nowrap;
}

.show_on_swipe {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
  width: $buttonWidth;
  color: white;
  white-space: nowrap;
}

//Code pertaining to the creation of a new project

.new_project_block {
  position: relative;
  margin-top: 45px;
  width: 800px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.new_project_title {
  position: relative;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.new_project_description {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  padding: 3px;
  line-height: 165%;
  resize: none;
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @include standardFontColorless;
}

.new_project_stack {
  position: relative;
  display: block;
  width: 150px;
  padding: 5px;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: bottom;
}

.add_tech_button {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  @include testing;
  vertical-align: middle;
}

.add_tech_icon {
  width: 100%;
  height: 100%;
}

.new_tech_inputs {
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}

.inline_tech {
  display: block;
}

.inner_new_tech {
  padding: 5px;
  font-size: 15px;
  @include standardFontColorless;
}

.appear_on_hover {
  opacity: 0;
  @include standardTransition;
  @include standardFontColorless;
}

.project_title_block:hover .appear_on_hover.title_appear {
  opacity: 1;
  @include standardTransition;
}

.project_description_block:hover .appear_on_hover.description_appear {
  opacity: 1;
  @include standardTransition;
}

.new_project_stack_block:hover .appear_on_hover.stack_appear {
  opacity: 1;
  @include standardTransition;
}

.inline_tech:hover .appear_on_hover.tech_appear {
  opacity: 1;
  @include standardTransition;
}

.delete_button {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
}

.delete_button_image {
  width: 100%;
  height: 100%;
}

.new_project_positions_block:hover .appear_on_hover.positions_appear {
  opacity: 1;
  @include standardTransition;
}

.positions_open {
  margin-bottom: 10px;
}

.submit_project_button_block {
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.submit_project_button {
  position: relative;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include fastTransition;
}

.submit_project_button:disabled {
  background-color: grey;
}

.submit_project_button:enabled:hover {
  color: pink;
  background-color: black;
  @include fastTransition;
}

.project_listing_block:hover .appear_on_hover.listing_appear {
  opacity: 1;
  @include standardTransition;
}

.friend_request {
  position: relative;
  top: 200px;
}
