@import "../../utils.scss";

.profile_block {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.profile_project_listings {
  position: relative;
  display: inline-block;
  width: 70%;
  float: right;
  @include testing2;
}

.profile_settings {
  position: fixed;
  display: inline-block;
  width: 10%;
  @include testing2;
}

.profile_item {
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin-top: 25px;
}

.profile_sidebar_navlink {
  text-decoration: none;
  color: black;
}

.profile_sidebar_navlink_active {
  color: pink;
}

.profile_contact {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.contact_header {
  position: relative;
  text-align: center;
}

.contact_fillin_div {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact_fillin {
  position: relative;
  width: 100%;
  height: 250px;
  resize: none;
}

.contact_submit_button {
  position: relative;
  display: block;
}

.contact_subheader {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: pink;
}

.profile_settings_block {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile_settings_header {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile_setting_option {
  position: relative;
  width: 80%;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.setting_checkbox {
  position: relative;
}

.setting_spec {
  position: relative;
}

.save_settings_button {
  position: relative;
  display: block;
}
