@import "../../utils.scss";

.profile_block {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.profile_project_listings {
  position: relative;
  display: inline-block;
  width: 70%;
  float: right;
  @include testing2;
}

.profile_settings {
  position: fixed;
  display: inline-block;
  width: 10%;
  @include testing2;
}

.profile_item {
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin-top: 25px;
}

.profile_sidebar_navlink {
  text-decoration: none;
  color: black;
}

.profile_sidebar_navlink_active {
  color: pink;
}
