@import "../../utils";

.under_header {
  position: relative;
  margin-top: 40px;
}

.about_header {
  position: relative;
  text-align: center;
}

.about_body {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
