@import "../../utils";

.project_opening {
  position: absolute;
  @include testing2;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.open_project {
  position: relative;
  color: white;
  width: 80%;
  display: block;
  height: 200px;
  box-sizing: border-box;
  padding-left: 20px;
  @include testing;
}

.none_found {
  position: relative;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.project_main {
  height: 2000px;
}

.project_header {
  position: relative;
  text-align: center;
  margin-top: 40px;
  @include testing;
  height: 120px;
  background-color: pink;
}

.under_carriage {
  position: relative;
}

.side_search_bar {
  position: fixed;
  display: inline-block;
  float: left;
  @include testing;
  width: 33.3%;
}

.side_search_bar_container {
  position: relative;
  float: right;
  padding: 10px;
  margin-right: 15px;
  @include testing;
}

.under_header_projects {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.successful_project_block {
  position: relative;
  width: 100%;
  top: 200px;
}

.successful_project_thanks {
  font-size: 22px;
  text-align: center;
}
