@import "../../utils";

.project_opening {
  position: absolute;
  @include testing2;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.open_project {
  position: relative;
  color: white;
  width: 80%;
  display: block;
  height: 200px;
  box-sizing: border-box;
  padding-left: 20px;
  @include testing;
}

.none_found {
  position: relative;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.project_main {
  height: 2000px;
}

.project_header {
  position: relative;
  text-align: center;
  margin-top: 40px;
  @include testing;
  height: 120px;
  background-color: pink;
}

.under_carriage {
  position: relative;
}

.side_search_bar {
  position: fixed;
  display: inline-block;
  float: left;
  @include testing;
  width: 33.3%;
}

.side_search_bar_container {
  position: relative;
  float: right;
  padding: 10px;
  margin-right: 15px;
  @include testing;
}

.under_header_projects {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.successful_project_block {
  position: relative;
  width: 100%;
  top: 200px;
}

.successful_project_thanks {
  font-size: 22px;
  text-align: center;
}

.project_page {
  padding: 0;
}

.inline_container {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.third_left {
  min-width: 100px;
  width: 15%;
  height: 100%;
  box-sizing: border-box;
  @include testing;
}

.third_center {
  height: 100%;
  width: 70%;
  box-sizing: border-box;
  @include testing2;
}
.third_right {
  min-width: 100px;
  width: 15%;
  float: right;
  box-sizing: border-box;
}

.hidden_dropdown {
  position: absolute;
  height: 60px;
  border: 1px solid orange;
  width: 100%;
  z-index: 99;
}

.hover_over_dropdown {
  height: 0;
  width: 100%;
  border: 1px solid green;
  overflow: hidden;
  @include standardTransition;
}

.hidden_dropdown:hover .hover_over_dropdown {
  height: 60px;
  @include standardTransition;
}
