@import "../../utils";

.project_opening {
  position: absolute;
  @include testing2;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.open_project {
  position: relative;
  color: white;
  width: 80%;
  display: block;
  height: 200px;
  box-sizing: border-box;
  padding-left: 20px;
  @include testing;
}

.none_found {
  position: relative;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.project_main {
  height: 2000px;
}

.project_header {
  position: relative;
  text-align: center;
  margin-top: 40px;
  @include testing;
  height: 120px;
  background-color: pink;
}

.under_carriage {
  position: relative;
}

.side_search_bar {
  position: fixed;
  display: inline-block;
  float: left;
  @include testing;
  width: 33.3%;
}

.side_search_bar_container {
  position: relative;
  float: right;
  padding: 10px;
  margin-right: 15px;
  @include testing;
}

.under_header_projects {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.successful_project_block {
  position: relative;
  width: 100%;
  top: 200px;
}

.successful_project_thanks {
  font-size: 22px;
  text-align: center;
}

.project_page {
  padding: 0;
}

.inline_container {
  display: inline-block;
  padding-top: 100px;
}

.third_left {
  position: absolute;
  min-width: 100px;
  width: 15%;
  height: 100%;
  left: 0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  @include testing;
}

.third_center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 70%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  @include testing2;
}
.third_right {
  position: absolute;
  min-width: 100px;
  width: 15%;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  @include testing;
}

.hidden_dropdown {
  position: absolute;
  height: 90px;
  border: 1px solid orange;
  width: 100%;
  z-index: 199;
}

.hover_over_dropdown {
  position: absolute;
  height: 0;
  top: 40px;
  width: 100%;
  border: 1px solid green;
  overflow: hidden;
  @include standardTransition;
}

.hidden_dropdown:hover .hover_over_dropdown {
  height: 50px;
  @include standardTransition;
}

.add_new_file_button {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: inline-block;
  @include testing2;
}

.file_system {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid yellow;
}

.document_file_container {
  position: absolute;
  height: 80%;
  width: 100%;
  @include testing;
}

.add_file_button_clickable {
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include testing;
}

.add_file_inner_button {
  position: relative;
  width: 150px;
  height: 75px;
}

.document_item {
  position: relative;
  background-color: grey;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  cursor: pointer;
}

.document_title {
  padding: 5px;
  font-size: 16px;
}

.document_inner {
  position: relative;
  height: 100%;
}

.text_editor {
  position: relative;
  width: 50%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text_editor_container {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  padding: 25px;
  box-sizing: border-box;
}

.inner_text_editor {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  resize: none;
}
